doctype
html
   head
      title Administration Office
      link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/site.css")
   body
      header
         .nav.navbar.navbar-default
            .container-fluid
               .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                     span.sr-only E-commerse navigation
                  a.navbar-brand(href='/admin') Admin Panel
               #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                     li.active
                        a(href="/admin") Home
                     li
                        a(href="/admin/products") Products
                     li
                        a(href="/admin/categories") Categories
                     li
                        a(href="/admin/about") About Us
                  ul.nav.navbar-nav.navbar-right
                     li
                        a(href="/account/logout") Logout
      .container
         .leftContainer
            ul
               li
                  a(href="/admin/categories/add") Add Category
               li
                  a(href="/admin/products/add") Add Product
         .rightContainer
            if (errorMessage)
               .alert.alert-danger #{errorMessage}
            block main-content
      footer
         p.text-center
            | Your personal E-Commerce Site
      include scripts

