script(src="http://localhost:3000/lib/jquery-2.1.1/jquery.min.js")
script(src="http://localhost:3000/lib/bootstrap-3.2.0/js/bootstrap.min.js")
script(src="http://localhost:3000/lib/angular/angular.js")
script(src="http://localhost:3000/lib/angular-route/angular-route.js")
script(src="http://localhost:3000/app.js")
script(src="https://cdn.socket.io/socket.io-1.4.4.js")
script(src="http://localhost:3000/controllers/categories-controller.js")
script(src="http://localhost:3000/controllers/Chat-Controller.js")