extends ./home.jade

block main-content    
    <h1>Wearables</h1>
    table.table.table-striped.table-hover
      thead
        tr
          th #
          th Model
          th Price
          th Image
      tbody
        each product, index in products
            tr
            td= index + 1
            td= product.model
            td= product.price
            td
                img(src=product.imageUrl style="height: 80px")