extends ../shared/layout

block main-content
    .jumbotron
        img(src="#{imageUrl}" style="height: 50px; display: inline-block")
        h1 #{info.companyName}

        p  #{info.companyDescription}