html
  head
    title = Jade Homework
    link(rel="stylesheet" href='./public/css/bootstrap.css')
  body
    include ./partials/header.jade  
    block main-content

    div
        footer.footer
        .container
            p.text-muted Place sticky footer content here.